@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Open+Sans+Condensed:wght@700&display=swap');
*{
  padding: 0px;
  margin: 0px;
}

.App {
  display:grid;
  grid-template-areas: 
  "header"
  "body"
  "footer"
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 61px 1fr 40px;
  gap:20px;
  height: 100vh;
}

.footer{
  grid-area: footer;
  width: 100%;  
  background-color: #fffbef         
 
}

.navbar{
  display: flex;
  margin: 0px 20px;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  height: 100%;  
}

.menuButton{
  height: 100%;  
  padding: 0px 20px;
  color: black;
  display: flex;
  align-self: center;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  text-decoration: none;

}

.menuButtonLogo{
  height: 100%;  
  padding: 0px 20px;
  color: black;
  display: flex;
  align-self: center;
  align-items: center;
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 36px;
  text-decoration: none;
  
}

.menuButtonLogo:hover,
.menuButton:focus,
.menuButton:hover {
  color: #f9ae48;
  cursor: pointer;
}







